<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 这里的配置一定跟接口对应 -->
<mapper namespace="com.dao.UserMapper">
	<!-- 查询用户记录数 
	id:对应接口中的方法名     resultType：结果类型-->
	<!-- -->
	<select id="count" resultType="int">
		select count(1) as count from smbms_user
	</select>
	
	<select id="selectAll" resultType="user">
		select * from smbms_user
	</select>
	<!--  
	<select id="getUserList" resultMap="userList">
		select u.*,r.roleName from smbms_user u,smbms_role r where u.userName like CONCAT('%',#{userName},'%') and u.userRole = #{userRole}
		and u.userRole = r.id
	</select>
	-->
	<!-- -->
	<select id="getUserListByMap" resultType="User" parameterType="Map">
		select * from smbms_user where userName like CONCAT('%',#{uName},'%') and userRole = #{uRole}
	</select>
	
	
	<select id="getUserList" resultType="User">
		select * from smbms_user 
		<trim prefix="where" prefixOverrides="and | or">
		<if	test="userName !=null and userName != ''">
			and userName like CONCAT ('%',#{userName},'%')
		</if>
		<if test="userRole !=null">
		and userRole = #{userRole}
		</if>
		</trim>
	</select>
	
	<resultMap type="User" id="userList">
		<result property="id" column="id"/>
		<result property="userCode" column="userCode"/>
		<result property="userName" column="userName"/>
		<result property="phone" column="phone"/>
		<result property="birthday" column="birthday"/>
		<result property="gender" column="gender"/>
		<result property="userRole" column="userRole"/>
		<result property="userRoleName" column="userRoleName"/>
	</resultMap>
	
	<!-- 增加用户 -->
	<insert id="add" parameterType="User">
		insert into smbms_user (userCode,userName,userPassword,gender,birthday,phone,address,userRole,createdBy,creationDate) 
		VALUES (#{userCode},#{userName},#{userPassword},#{gender},#{birthday},#{phone},#{address},#{userRole},#{createdBy},#{creationDate})
	</insert>
	
	<!-- 修改用户-->
	<update id="modify" parameterType="User">
		update smbms_user
		<trim prefix="set" suffixOverrides="," suffix="where id = #{id}"> 
		<if test="userCode != null">userCode = #{userCode},</if>
		<if test="userName != null">userName = #{userName},</if>
		<if test="userPassword !=null">userPassword = #{userPassword},</if>
		<if test="gender !=null">gender=#{gender},</if>
		<if test="birthday !=null">birthday=#{birthday},</if>
		<if test="phone !=null">phone=#{phone},</if>
		<if test="address !=null">address = #{address},</if>
		<if test="userRole !=null">userRole = #{userRole},</if>
		<if test="createdBy !=null">createdBy= #{createdBy},</if>
		<if test="creationDate !=null">creationDate = #{creationDate},</if>
		</trim>
		</update>
		 
	<!-- 修改当前用户密码 -->
	<update id="updatePwd">
		update smbms_user set userPassword = #{userPassword} where id=#{id}
	</update>
	
	<!-- 根据userid删除用户信息-->
	<delete id="deleteUserById" parameterType="integer">
		delete from smbms_user where id=#{id}	
	</delete> 
	
	<!-- 根据id查询 -->
	<resultMap type="User" id="userRoleResult">
		<id property="id" column="id"/>
		<result property="userCode" column="userCode"/>
		<result property="userName" column="userName"/>
		<result property="userRole" column="userRole"/>
		<association property="role" javaType="Role" resultMap="roleResult"/>
		</resultMap>
		<resultMap type="Role" id="roleResult">
		<id property="id" column="r_id"/>
		<result property="roleCode" column="roleCode"/>
		<result property="roleName" column="roleName"/>
	</resultMap>
	<select id="getUserListByRoleId" parameterType="Integer" resultMap="userRoleResult">
		select u.*,r.id as r_id,r.roleCode,r.roleName from smbms_user u,smbms_role r where u.userRole = #{userRole}
		and u.userRole = r.id
	</select>
	
	<!-- -->
	<resultMap type="User" id="userAddressResult">
		<id property="id" column="id"/>
		<result property="userCode" column="userCode"/>
		<result property="userName" column="userName"/>
		<collection property="addressList" ofType="Address" resultMap="addressResult"/>
		</resultMap>
		<resultMap type="Address" id="addressResult">
			<id property="id" column="a_id"/>
			<result property="postCode" column="postCode"/>
			<result property="tel" column="tel"/>
			<result property="contact" column="contact"/>
			<result property="addressDesc" column="addressDesc"/>
	</resultMap>
	<select id="getAddressListByUserId" parameterType="Integer" resultMap="userAddressResult">
		select u.*,a.id as a_id, a.contact,a.addressDesc,a.postCode,a.tel from smbms_user u LEFT JOIN smbms_address a ON u.id = a.userId
		WHERE u.id = #{id}
	</select>
	 <!-- 根据用户角色列表，获取该角色列表下的列表信息 -->
	 <select id="getUserByRoleId_foreach_array" resultMap="userMapByRole">
	 	select * from smbms_user where userRole in
	 		<foreach collection="array" item="roleIds" open="(" separator="," close=")">
	 			#{roleIds}
	 		</foreach>
	 </select>
	 <resultMap type="User" id="userMapByRole">
	 	<id property="id" column="id"/>
		<result property="userCode" column="userCode"/>
		<result property="userName" column="userName"/>
	 </resultMap>
	 
	 <!-- 根据用户角色列表，获取该角色列表下的列表信息-foreach_list -->
	 <select id="getUserByRoleId_foreach_list" resultMap="userMapByRol">
	 	select * from smbms_user where userRole in
	 		<foreach collection="list" item="roleList" open="(" separator="," close=")">
	 			#{roleList}
	 		</foreach>
	 </select>
	 <resultMap type="User" id="userMapByRol">
	 	<id property="id" column="id"/>
		<result property="userCode" column="userCode"/>
		<result property="userName" column="userName"/>
	 </resultMap>
	 <select id="getUserByConditionMap_foreach_map" resultMap="userMapByRole">
	 	select * from smbms_user where gender = #{gender} and userRole in
	 	<foreach collection="roleIds" item="roleMap" open="(" separator="," close=")">
	 		#{roleMap}
	 	</foreach>
	 </select>
	 
	 <select id="getUserList_choose" resultType="User">
	 	select * from smbms_user where 1=1
	 	<choose>
	 		<when test="userName !=null and userName !=''">
	 			and userName like CONCAT('%',#{userName},'%')
	 		</when>
	 		<when test="userCode !=null and userCode !=''">
	 			and userCode like CONCAT('%',#{userCode},'%')
	 		</when>
	 		<when test="userRole !=null">
	 			and userRole = #{userRole}
	 		</when>
	 		<otherwise>
	 			and YEAR(creationDate) = YEAR(#{creationDate})
	 		</otherwise>
	 	</choose>
	 </select>
	 
	 <select id="getUserList1" resultMap="userList">
	 	select u.*,r.roleName from smbms_user u,smbms_role r where u.userRole = r.id
	 	<if test="userRole !=null">
	 		and u.userRole = #{userRole}
	 	</if>
	 	<if	test="userName !=null and userName !=''">
	 		and u.userName like CONCAT('%',#{userName},'%')
	 	</if>
	 	order by creationDate DESC limit #{from},#{pageSize}
	 </select>
</mapper>